@using Kutuphane.Models.Entity
@model List<Hareket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>İadesi Alınan Kitap Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>İşlem ID</th>
        <th>Kitap Adı</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Kitap1.Ad</td>
            <td>@item.Uyeler.Ad @item.Uyeler.Soyad</td>
            <td>@item.Personel1.Personel1</td>
            <td>@Convert.ToDateTime(@item.AlisTarih).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(@item.UyeGetirTarih).ToString("dd/MM/yyyy")</td>
            <td><a href="/Odunc/OduncIade/@item.Id" class="btn btn-default" style="background-color:#f87cdf; color:white">Detaylar</a></td>
        </tr>
    }
</table>

