@model Kutuphane.Models.Entity.Uyeler
@{
    ViewBag.Title = "UyeGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UyeGuncelle", "Uye", FormMethod.Post))
{
    <div style="margin-top:15px;"></div>
    <div class="form-group">
        @Html.LabelFor(x => x.Id)
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Ad)
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Soyad)
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Mail)
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.KullaniciAdi)
        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Sifre)
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Telefon)
        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Okul)
        @Html.TextBoxFor(x => x.Okul, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Fotograf)
        @Html.TextBoxFor(x => x.Fotograf, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}
