@using Kutuphane.Models.Entity
@model List<Kitap>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitap Yazarı: @ViewBag.yazarAd</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kategori</th>
        <th>Yayınevi</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Ad</td>
                    <td>@item.Kategori1.Ad</td>
                    <td>@item.Yayinevi</td>
                </tr>
            }
</table>

