@using Kutuphane.Models.Entity
@model List<Kitap>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Sayfası</h2>

@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-top:15px; margin-bottom:15px;">
        <b>Aranacak Kitap Adını Girin: &nbsp;</b> @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </div>
}


<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kitap Yazarı</th>
        <th>Kategorisi</th>
        <th>Basım Yılı</th>
        <th>Yayınevi</th>
        <th>Sayfa</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Yazar1.Ad @item.Yazar1.Soyad</td>
            <td>@item.Kategori1.Ad</td>
            <td>@item.BasimYil</td>
            <td>@item.Yayinevi</td>
            <td>@item.Sayfa</td>
            <td>@item.Durum</td>
            <td><a href="/Kitap/KitapSil/@item.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kitap/KitapGetir/@item.Id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kitap/KitapEkle/" class="btn btn-primary">Yeni Kitap Ekle</a>

